@use './common/var' as *;
@use './mixins/function' as *;
@use './mixins/config' as *;
@use './mixins/var' as *;
@use 'mixins/mixins' as *;

$button-size: small, middle, large;

@keyframes loadingCircle {
  100% {
    transform: rotate(360deg);
  }
}

@include b(button) {
  @include set-component-css-var('button', $button);
  outline: none;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: getCssVar('button', 'font-weight');
  white-space: nowrap;
  text-align: center;
  box-sizing: border-box;
  background-image: none;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  user-select: none;
  touch-action: manipulation;
  color: getCssVar('button', 'color');
  font-size: getCssVar('button', 'font-size');
  padding: 4px 15px; //TODO
  border-radius: getCssVar('button', 'border-radius');
  text-decoration: none solid rgb(255, 255, 255);

  /* === type === */
  @include m(type-primary) {
    color: getCssVar('button', 'color-primary');
    background-color: getCssVar('button', 'primary-bg-color');
    box-shadow: getCssVar('button', 'box-shadow-primary');

    &:hover {
      background-color: getCssVar('button', 'primary-bg-color-hover');
    }
  }

  @include m(type-dashed) {
    border-style: dashed;
  }

  @include m((type-default, type-dashed)) {
    border-color: getCssVar('button', 'border-color');
    box-shadow: getCssVar('button', 'box-shadow');
    &:hover {
      border-color: getCssVar('button', 'primary-bg-color-hover');
      color: getCssVar('button', 'primary-bg-color-hover');
    }
  }

  @include m(type-text) {
    &:hover {
      background-color: getCssVar('button', 'text-bg-color-hover');
    }
  }

  @include m(type-link) {
    border: none;
    color: getCssVar('button', 'link-color');

    &:hover {
      color: getCssVar('button', 'link-color-hover');
    }
  }

  /* ===== disabled ===== */
  // TODO more disabled
  @include when-m(disabled, (type-primary, type-default, type-dashed)) {
    cursor: not-allowed;
    color: rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 0, 0.04);
    box-shadow: none;
    border-color: getCssVar('button', 'border-color');
  }
  @include when-m(disabled, (type-text, type-link)) {
    cursor: not-allowed;
    color: rgba(0, 0, 0, 0.25);

    &:hover {
      background-color: transparent;
    }
  }

  /* === icon === */
  @include when(not-icon-only) {
    @include e(icon) {
      margin-inline-end: 8px;
    }
  }
  @include e(icon) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: getCssVar('button', 'icon-size-primary');
  }

  /* === shape === */
  @include m(shape-circle) {
    padding-inline-start: 0;
    padding-inline-end: 0;
    border-radius: 50%;
  }

  @include m(shape-round) {
    padding-inline-start: 0;
    padding-inline-end: 0;
    border-radius: 50%;
  }
  @include when-m(icon-only, shape-round) {
    width: auto;
  }

  /* ===== size ===== */
  @each $size in $button-size {
    @include and-m((shape-round, size-#{$size})) {
      border-radius: getCssVar('button', 'height-#{$size}');
      padding-inline-start: getCssVar('button', 'height-#{$size}-half');
      padding-inline-end: getCssVar('button', 'height-#{$size}-half');
    }
    @include and-m((shape-circle, size-#{$size})) {
      min-width: getCssVar('button', 'height-#{$size}');
    }
    @include m(size-#{$size}) {
      height: getCssVar('button', 'height-#{$size}');
      @include when(icon-only) {
        width: getCssVar('button', 'height-#{$size}');
      }
    }
  }

  @include m(size-small) {
    font-size: getCssVar('button', 'font-size-small');
    @include e(icon) {
      font-size: getCssVar('button', 'icon-size-small');
    }
  }

  /* ===== danger ===== */
  @include when-m(danger, type-primary) {
    background-color: getCssVar('button', 'color-danger');
    box-shadow: 0 2px 0 rgba(255, 38, 5, 0.06);

    &:hover {
      background-color: getCssVar('button', 'color-danger-hover');
    }
  }
  @include when-m(danger, (type-default, type-dashed)) {
    color: getCssVar('button', 'color-danger');
    border-color: getCssVar('button', 'color-danger');
    box-shadow: 0 2px 0 rgba(255, 38, 5, 0.06);

    &:hover {
      color: getCssVar('button', 'color-danger-hover');
      border-color: getCssVar('button', 'color-danger-hover');
    }
  }
  @include when-m(danger, (type-text, type-link)) {
    color: getCssVar('button', 'color-danger');

    &:hover {
      color: getCssVar('button', 'color-danger-hover');
    }
  }
  @include when-m(danger, (type-text)) {
    &:hover {
      background-color: getCssVar('button', 'text-bg-color-danger-hover');
    }
  }

  @include when(block) {
    width: 100%;
  }

  @include when-m(
    ghost,
    (type-primary, type-default, type-link, type-dashed, type-text)
  ) {
    background-color: transparent;
  }

  @include when-m(ghost, (type-primary)) {
    color: getCssVar('button', 'primary-bg-color');
    border-color: getCssVar('button', 'primary-bg-color');

    &:hover {
      color: getCssVar('button', 'primary-bg-color-hover');
      border-color: getCssVar('button', 'primary-bg-color-hover');
    }

    @include when(danger) {
      color: getCssVar('button', 'color-danger');
      border-color: getCssVar('button', 'color-danger');

      &:hover {
        background-color: transparent;
        color: getCssVar('button', 'color-danger-hover');
        border-color: getCssVar('button', 'color-danger-hover');
      }
    }
  }

  @include when-m(ghost, (type-default, type-dashed)) {
    color: getCssVar('button', 'color-primary');
    border-color: getCssVar('button', 'color-primary');

    &:hover {
      color: getCssVar('button', 'primary-bg-color');
      border-color: getCssVar('button', 'primary-bg-color');
    }
  }

  @include m(type-primary) {
    @include when(loading) {
      opacity: 0.65;
      cursor: default;
    }
  }

  @include e(spin) {
    animation: loadingCircle 1s infinite linear;
    height: 14px;
    width: 14px;
  }
}
