
:root {
  --ant-blue: #1677ff;
  --ant-purple: #722ED1;
  --ant-cyan: #13C2C2;
  --ant-green: #52C41A;
  --ant-magenta: #EB2F96;
  --ant-pink: #eb2f96;
  --ant-red: #F5222D;
  --ant-orange: #FA8C16;
  --ant-yellow: #FADB14;
  --ant-volcano: #FA541C;
  --ant-geekblue: #2F54EB;
  --ant-gold: #FAAD14;
  --ant-lime: #A0D911;
  --ant-colorPrimary: #1677ff;
  --ant-colorSuccess: #52c41a;
  --ant-colorWarning: #faad14;
  --ant-colorError: #ff4d4f;
  --ant-colorInfo: #1677ff;
  --ant-colorTextBase: #000;
  --ant-colorBgBase: #fff;
  --ant-fontFamily: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
'Noto Color Emoji';
  --ant-fontFamilyCode: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  --ant-fontSize: 14;
  --ant-lineWidth: 1;
  --ant-lineType: solid;
  --ant-motionUnit: 0.1;
  --ant-motionBase: 0;
  --ant-motionEaseOutCirc: cubic-bezier(0.08, 0.82, 0.17, 1);
  --ant-motionEaseInOutCirc: cubic-bezier(0.78, 0.14, 0.15, 0.86);
  --ant-motionEaseOut: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ant-motionEaseInOut: cubic-bezier(0.645, 0.045, 0.355, 1);
  --ant-motionEaseOutBack: cubic-bezier(0.12, 0.4, 0.29, 1.46);
  --ant-motionEaseInBack: cubic-bezier(0.71, -0.46, 0.88, 0.6);
  --ant-motionEaseInQuint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --ant-motionEaseOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
  --ant-borderRadius: 6;
  --ant-sizeUnit: 4;
  --ant-sizeStep: 4;
  --ant-sizePopupArrow: 16;
  --ant-controlHeight: 32;
  --ant-zIndexBase: 0;
  --ant-zIndexPopupBase: 1000;
  --ant-opacityImage: 1;
  --ant-wireframe: false;
  --ant-motion: true;
  --ant-blue-1: #e6f4ff;
  --ant-blue1: #e6f4ff;
  --ant-blue-2: #bae0ff;
  --ant-blue2: #bae0ff;
  --ant-blue-3: #91caff;
  --ant-blue3: #91caff;
  --ant-blue-4: #69b1ff;
  --ant-blue4: #69b1ff;
  --ant-blue-5: #4096ff;
  --ant-blue5: #4096ff;
  --ant-blue-6: #1677ff;
  --ant-blue6: #1677ff;
  --ant-blue-7: #0958d9;
  --ant-blue7: #0958d9;
  --ant-blue-8: #003eb3;
  --ant-blue8: #003eb3;
  --ant-blue-9: #002c8c;
  --ant-blue9: #002c8c;
  --ant-blue-10: #001d66;
  --ant-blue10: #001d66;
  --ant-purple-1: #f9f0ff;
  --ant-purple1: #f9f0ff;
  --ant-purple-2: #efdbff;
  --ant-purple2: #efdbff;
  --ant-purple-3: #d3adf7;
  --ant-purple3: #d3adf7;
  --ant-purple-4: #b37feb;
  --ant-purple4: #b37feb;
  --ant-purple-5: #9254de;
  --ant-purple5: #9254de;
  --ant-purple-6: #722ed1;
  --ant-purple6: #722ed1;
  --ant-purple-7: #531dab;
  --ant-purple7: #531dab;
  --ant-purple-8: #391085;
  --ant-purple8: #391085;
  --ant-purple-9: #22075e;
  --ant-purple9: #22075e;
  --ant-purple-10: #120338;
  --ant-purple10: #120338;
  --ant-cyan-1: #e6fffb;
  --ant-cyan1: #e6fffb;
  --ant-cyan-2: #b5f5ec;
  --ant-cyan2: #b5f5ec;
  --ant-cyan-3: #87e8de;
  --ant-cyan3: #87e8de;
  --ant-cyan-4: #5cdbd3;
  --ant-cyan4: #5cdbd3;
  --ant-cyan-5: #36cfc9;
  --ant-cyan5: #36cfc9;
  --ant-cyan-6: #13c2c2;
  --ant-cyan6: #13c2c2;
  --ant-cyan-7: #08979c;
  --ant-cyan7: #08979c;
  --ant-cyan-8: #006d75;
  --ant-cyan8: #006d75;
  --ant-cyan-9: #00474f;
  --ant-cyan9: #00474f;
  --ant-cyan-10: #002329;
  --ant-cyan10: #002329;
  --ant-green-1: #f6ffed;
  --ant-green1: #f6ffed;
  --ant-green-2: #d9f7be;
  --ant-green2: #d9f7be;
  --ant-green-3: #b7eb8f;
  --ant-green3: #b7eb8f;
  --ant-green-4: #95de64;
  --ant-green4: #95de64;
  --ant-green-5: #73d13d;
  --ant-green5: #73d13d;
  --ant-green-6: #52c41a;
  --ant-green6: #52c41a;
  --ant-green-7: #389e0d;
  --ant-green7: #389e0d;
  --ant-green-8: #237804;
  --ant-green8: #237804;
  --ant-green-9: #135200;
  --ant-green9: #135200;
  --ant-green-10: #092b00;
  --ant-green10: #092b00;
  --ant-magenta-1: #fff0f6;
  --ant-magenta1: #fff0f6;
  --ant-magenta-2: #ffd6e7;
  --ant-magenta2: #ffd6e7;
  --ant-magenta-3: #ffadd2;
  --ant-magenta3: #ffadd2;
  --ant-magenta-4: #ff85c0;
  --ant-magenta4: #ff85c0;
  --ant-magenta-5: #f759ab;
  --ant-magenta5: #f759ab;
  --ant-magenta-6: #eb2f96;
  --ant-magenta6: #eb2f96;
  --ant-magenta-7: #c41d7f;
  --ant-magenta7: #c41d7f;
  --ant-magenta-8: #9e1068;
  --ant-magenta8: #9e1068;
  --ant-magenta-9: #780650;
  --ant-magenta9: #780650;
  --ant-magenta-10: #520339;
  --ant-magenta10: #520339;
  --ant-pink-1: #fff0f6;
  --ant-pink1: #fff0f6;
  --ant-pink-2: #ffd6e7;
  --ant-pink2: #ffd6e7;
  --ant-pink-3: #ffadd2;
  --ant-pink3: #ffadd2;
  --ant-pink-4: #ff85c0;
  --ant-pink4: #ff85c0;
  --ant-pink-5: #f759ab;
  --ant-pink5: #f759ab;
  --ant-pink-6: #eb2f96;
  --ant-pink6: #eb2f96;
  --ant-pink-7: #c41d7f;
  --ant-pink7: #c41d7f;
  --ant-pink-8: #9e1068;
  --ant-pink8: #9e1068;
  --ant-pink-9: #780650;
  --ant-pink9: #780650;
  --ant-pink-10: #520339;
  --ant-pink10: #520339;
  --ant-red-1: #fff1f0;
  --ant-red1: #fff1f0;
  --ant-red-2: #ffccc7;
  --ant-red2: #ffccc7;
  --ant-red-3: #ffa39e;
  --ant-red3: #ffa39e;
  --ant-red-4: #ff7875;
  --ant-red4: #ff7875;
  --ant-red-5: #ff4d4f;
  --ant-red5: #ff4d4f;
  --ant-red-6: #f5222d;
  --ant-red6: #f5222d;
  --ant-red-7: #cf1322;
  --ant-red7: #cf1322;
  --ant-red-8: #a8071a;
  --ant-red8: #a8071a;
  --ant-red-9: #820014;
  --ant-red9: #820014;
  --ant-red-10: #5c0011;
  --ant-red10: #5c0011;
  --ant-orange-1: #fff7e6;
  --ant-orange1: #fff7e6;
  --ant-orange-2: #ffe7ba;
  --ant-orange2: #ffe7ba;
  --ant-orange-3: #ffd591;
  --ant-orange3: #ffd591;
  --ant-orange-4: #ffc069;
  --ant-orange4: #ffc069;
  --ant-orange-5: #ffa940;
  --ant-orange5: #ffa940;
  --ant-orange-6: #fa8c16;
  --ant-orange6: #fa8c16;
  --ant-orange-7: #d46b08;
  --ant-orange7: #d46b08;
  --ant-orange-8: #ad4e00;
  --ant-orange8: #ad4e00;
  --ant-orange-9: #873800;
  --ant-orange9: #873800;
  --ant-orange-10: #612500;
  --ant-orange10: #612500;
  --ant-yellow-1: #feffe6;
  --ant-yellow1: #feffe6;
  --ant-yellow-2: #ffffb8;
  --ant-yellow2: #ffffb8;
  --ant-yellow-3: #fffb8f;
  --ant-yellow3: #fffb8f;
  --ant-yellow-4: #fff566;
  --ant-yellow4: #fff566;
  --ant-yellow-5: #ffec3d;
  --ant-yellow5: #ffec3d;
  --ant-yellow-6: #fadb14;
  --ant-yellow6: #fadb14;
  --ant-yellow-7: #d4b106;
  --ant-yellow7: #d4b106;
  --ant-yellow-8: #ad8b00;
  --ant-yellow8: #ad8b00;
  --ant-yellow-9: #876800;
  --ant-yellow9: #876800;
  --ant-yellow-10: #614700;
  --ant-yellow10: #614700;
  --ant-volcano-1: #fff2e8;
  --ant-volcano1: #fff2e8;
  --ant-volcano-2: #ffd8bf;
  --ant-volcano2: #ffd8bf;
  --ant-volcano-3: #ffbb96;
  --ant-volcano3: #ffbb96;
  --ant-volcano-4: #ff9c6e;
  --ant-volcano4: #ff9c6e;
  --ant-volcano-5: #ff7a45;
  --ant-volcano5: #ff7a45;
  --ant-volcano-6: #fa541c;
  --ant-volcano6: #fa541c;
  --ant-volcano-7: #d4380d;
  --ant-volcano7: #d4380d;
  --ant-volcano-8: #ad2102;
  --ant-volcano8: #ad2102;
  --ant-volcano-9: #871400;
  --ant-volcano9: #871400;
  --ant-volcano-10: #610b00;
  --ant-volcano10: #610b00;
  --ant-geekblue-1: #f0f5ff;
  --ant-geekblue1: #f0f5ff;
  --ant-geekblue-2: #d6e4ff;
  --ant-geekblue2: #d6e4ff;
  --ant-geekblue-3: #adc6ff;
  --ant-geekblue3: #adc6ff;
  --ant-geekblue-4: #85a5ff;
  --ant-geekblue4: #85a5ff;
  --ant-geekblue-5: #597ef7;
  --ant-geekblue5: #597ef7;
  --ant-geekblue-6: #2f54eb;
  --ant-geekblue6: #2f54eb;
  --ant-geekblue-7: #1d39c4;
  --ant-geekblue7: #1d39c4;
  --ant-geekblue-8: #10239e;
  --ant-geekblue8: #10239e;
  --ant-geekblue-9: #061178;
  --ant-geekblue9: #061178;
  --ant-geekblue-10: #030852;
  --ant-geekblue10: #030852;
  --ant-gold-1: #fffbe6;
  --ant-gold1: #fffbe6;
  --ant-gold-2: #fff1b8;
  --ant-gold2: #fff1b8;
  --ant-gold-3: #ffe58f;
  --ant-gold3: #ffe58f;
  --ant-gold-4: #ffd666;
  --ant-gold4: #ffd666;
  --ant-gold-5: #ffc53d;
  --ant-gold5: #ffc53d;
  --ant-gold-6: #faad14;
  --ant-gold6: #faad14;
  --ant-gold-7: #d48806;
  --ant-gold7: #d48806;
  --ant-gold-8: #ad6800;
  --ant-gold8: #ad6800;
  --ant-gold-9: #874d00;
  --ant-gold9: #874d00;
  --ant-gold-10: #613400;
  --ant-gold10: #613400;
  --ant-lime-1: #fcffe6;
  --ant-lime1: #fcffe6;
  --ant-lime-2: #f4ffb8;
  --ant-lime2: #f4ffb8;
  --ant-lime-3: #eaff8f;
  --ant-lime3: #eaff8f;
  --ant-lime-4: #d3f261;
  --ant-lime4: #d3f261;
  --ant-lime-5: #bae637;
  --ant-lime5: #bae637;
  --ant-lime-6: #a0d911;
  --ant-lime6: #a0d911;
  --ant-lime-7: #7cb305;
  --ant-lime7: #7cb305;
  --ant-lime-8: #5b8c00;
  --ant-lime8: #5b8c00;
  --ant-lime-9: #3f6600;
  --ant-lime9: #3f6600;
  --ant-lime-10: #254000;
  --ant-lime10: #254000;
  --ant-colorText: rgba(0, 0, 0, 0.88);
  --ant-colorTextSecondary: rgba(0, 0, 0, 0.65);
  --ant-colorTextTertiary: rgba(0, 0, 0, 0.45);
  --ant-colorTextQuaternary: rgba(0, 0, 0, 0.25);
  --ant-colorFill: rgba(0, 0, 0, 0.15);
  --ant-colorFillSecondary: rgba(0, 0, 0, 0.06);
  --ant-colorFillTertiary: rgba(0, 0, 0, 0.04);
  --ant-colorFillQuaternary: rgba(0, 0, 0, 0.02);
  --ant-colorBgLayout: #f5f5f5;
  --ant-colorBgContainer: #ffffff;
  --ant-colorBgElevated: #ffffff;
  --ant-colorBgSpotlight: rgba(0, 0, 0, 0.85);
  --ant-colorBorder: #d9d9d9;
  --ant-colorBorderSecondary: #f0f0f0;
  --ant-colorPrimaryBg: #e6f4ff;
  --ant-colorPrimaryBgHover: #bae0ff;
  --ant-colorPrimaryBorder: #91caff;
  --ant-colorPrimaryBorderHover: #69b1ff;
  --ant-colorPrimaryHover: #4096ff;
  --ant-colorPrimaryActive: #0958d9;
  --ant-colorPrimaryTextHover: #4096ff;
  --ant-colorPrimaryText: #1677ff;
  --ant-colorPrimaryTextActive: #0958d9;
  --ant-colorSuccessBg: #f6ffed;
  --ant-colorSuccessBgHover: #d9f7be;
  --ant-colorSuccessBorder: #b7eb8f;
  --ant-colorSuccessBorderHover: #95de64;
  --ant-colorSuccessHover: #95de64;
  --ant-colorSuccessActive: #389e0d;
  --ant-colorSuccessTextHover: #73d13d;
  --ant-colorSuccessText: #52c41a;
  --ant-colorSuccessTextActive: #389e0d;
  --ant-colorErrorBg: #fff2f0;
  --ant-colorErrorBgHover: #fff1f0;
  --ant-colorErrorBorder: #ffccc7;
  --ant-colorErrorBorderHover: #ffa39e;
  --ant-colorErrorHover: #ff7875;
  --ant-colorErrorActive: #d9363e;
  --ant-colorErrorTextHover: #ff7875;
  --ant-colorErrorText: #ff4d4f;
  --ant-colorErrorTextActive: #d9363e;
  --ant-colorWarningBg: #fffbe6;
  --ant-colorWarningBgHover: #fff1b8;
  --ant-colorWarningBorder: #ffe58f;
  --ant-colorWarningBorderHover: #ffd666;
  --ant-colorWarningHover: #ffd666;
  --ant-colorWarningActive: #d48806;
  --ant-colorWarningTextHover: #ffc53d;
  --ant-colorWarningText: #faad14;
  --ant-colorWarningTextActive: #d48806;
  --ant-colorInfoBg: #e6f4ff;
  --ant-colorInfoBgHover: #bae0ff;
  --ant-colorInfoBorder: #91caff;
  --ant-colorInfoBorderHover: #69b1ff;
  --ant-colorInfoHover: #69b1ff;
  --ant-colorInfoActive: #0958d9;
  --ant-colorInfoTextHover: #4096ff;
  --ant-colorInfoText: #1677ff;
  --ant-colorInfoTextActive: #0958d9;
  --ant-colorBgMask: rgba(0, 0, 0, 0.45);
  --ant-colorWhite: #fff;
  --ant-fontSizeSM: 12;
  --ant-fontSizeLG: 16;
  --ant-fontSizeXL: 20;
  --ant-fontSizeHeading1: 38;
  --ant-fontSizeHeading2: 30;
  --ant-fontSizeHeading3: 24;
  --ant-fontSizeHeading4: 20;
  --ant-fontSizeHeading5: 16;
  --ant-lineHeight: 1.5714285714285714;
  --ant-lineHeightLG: 1.5;
  --ant-lineHeightSM: 1.6666666666666667;
  --ant-lineHeightHeading1: 1.2105263157894737;
  --ant-lineHeightHeading2: 1.2666666666666666;
  --ant-lineHeightHeading3: 1.3333333333333333;
  --ant-lineHeightHeading4: 1.4;
  --ant-lineHeightHeading5: 1.5;
  --ant-sizeXXL: 48;
  --ant-sizeXL: 32;
  --ant-sizeLG: 24;
  --ant-sizeMD: 20;
  --ant-sizeMS: 16;
  --ant-size: 16;
  --ant-sizeSM: 12;
  --ant-sizeXS: 8;
  --ant-sizeXXS: 4;
  --ant-controlHeightSM: 24;
  --ant-controlHeightXS: 16;
  --ant-controlHeightLG: 40;
  --ant-motionDurationFast: 0.1s;
  --ant-motionDurationMid: 0.2s;
  --ant-motionDurationSlow: 0.3s;
  --ant-lineWidthBold: 2;
  --ant-borderRadiusXS: 2;
  --ant-borderRadiusSM: 4;
  --ant-borderRadiusLG: 8;
  --ant-borderRadiusOuter: 4
}
  