:root {
    /* ===== global ===== */
    // color
    --ant-primary-color: var(--ant-color-blue-primary);
    --ant-primary-hover-color: var(--ant-color-blue-5);
    --ant-font-color: #000000E0;
    // border
    --ant-border-color: #d9d9d9;
    --ant-border-radius-base: 2px;
    --ant-border-radius-middle: 4px;
    --ant-border-radius-large: 6px;
    --ant-border-radius: var(--ant-border-radius-large);

    /* ===== button ===== */
    --ant-button-primary-bg-color: var(--ant-primary-color);
    --ant-button-primary-hover-bg-color: var(--ant-primary-hover-color);
    --ant-button-primary-font-color: #ffffff;
    --ant-button-link-hover-font-color: var(--ant-primary-hover-color);
    --ant-button-link-font-color: var(--ant-primary-color);
    --ant-button-text-hover-bg-color: rgba(0,0,0,.06);
    --ant-button-font-color: var(--ant-font-color);
    --ant-button-border-color: var(--ant-border-color);
    --ant-button-border-radius: var(--ant-border-radius);
}