
:root {
  --ant-blue: #1677ff;
  --ant-purple: #722ED1;
  --ant-cyan: #13C2C2;
  --ant-green: #52C41A;
  --ant-magenta: #EB2F96;
  --ant-pink: #eb2f96;
  --ant-red: #F5222D;
  --ant-orange: #FA8C16;
  --ant-yellow: #FADB14;
  --ant-volcano: #FA541C;
  --ant-geekblue: #2F54EB;
  --ant-gold: #FAAD14;
  --ant-lime: #A0D911;
  --ant-color-primary: #1677ff;
  --ant-color-success: #52c41a;
  --ant-color-warning: #faad14;
  --ant-color-error: #ff4d4f;
  --ant-color-info: #1677ff;
  --ant-color-text-base: #000;
  --ant-color-bg-base: #fff;
  --ant-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
'Noto Color Emoji';
  --ant-font-family-code: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  --ant-font-size: 14;
  --ant-line-width: 1;
  --ant-line-type: solid;
  --ant-motion-unit: 0.1;
  --ant-motion-base: 0;
  --ant-motion-ease-out-circ: cubic-bezier(0.08, 0.82, 0.17, 1);
  --ant-motion-ease-in-out-circ: cubic-bezier(0.78, 0.14, 0.15, 0.86);
  --ant-motion-ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ant-motion-ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
  --ant-motion-ease-out-back: cubic-bezier(0.12, 0.4, 0.29, 1.46);
  --ant-motion-ease-in-back: cubic-bezier(0.71, -0.46, 0.88, 0.6);
  --ant-motion-ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --ant-motion-ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --ant-border-radius: 6;
  --ant-size-unit: 4;
  --ant-size-step: 4;
  --ant-size-popup-arrow: 16;
  --ant-control-height: 32;
  --ant-z-index-base: 0;
  --ant-z-index-popup-base: 1000;
  --ant-opacity-image: 1;
  --ant-wireframe: false;
  --ant-motion: true;
  --ant-blue1: #e6f4ff;
  --ant-blue1: #e6f4ff;
  --ant-blue2: #bae0ff;
  --ant-blue2: #bae0ff;
  --ant-blue3: #91caff;
  --ant-blue3: #91caff;
  --ant-blue4: #69b1ff;
  --ant-blue4: #69b1ff;
  --ant-blue5: #4096ff;
  --ant-blue5: #4096ff;
  --ant-blue6: #1677ff;
  --ant-blue6: #1677ff;
  --ant-blue7: #0958d9;
  --ant-blue7: #0958d9;
  --ant-blue8: #003eb3;
  --ant-blue8: #003eb3;
  --ant-blue9: #002c8c;
  --ant-blue9: #002c8c;
  --ant-blue10: #001d66;
  --ant-blue10: #001d66;
  --ant-purple1: #f9f0ff;
  --ant-purple1: #f9f0ff;
  --ant-purple2: #efdbff;
  --ant-purple2: #efdbff;
  --ant-purple3: #d3adf7;
  --ant-purple3: #d3adf7;
  --ant-purple4: #b37feb;
  --ant-purple4: #b37feb;
  --ant-purple5: #9254de;
  --ant-purple5: #9254de;
  --ant-purple6: #722ed1;
  --ant-purple6: #722ed1;
  --ant-purple7: #531dab;
  --ant-purple7: #531dab;
  --ant-purple8: #391085;
  --ant-purple8: #391085;
  --ant-purple9: #22075e;
  --ant-purple9: #22075e;
  --ant-purple10: #120338;
  --ant-purple10: #120338;
  --ant-cyan1: #e6fffb;
  --ant-cyan1: #e6fffb;
  --ant-cyan2: #b5f5ec;
  --ant-cyan2: #b5f5ec;
  --ant-cyan3: #87e8de;
  --ant-cyan3: #87e8de;
  --ant-cyan4: #5cdbd3;
  --ant-cyan4: #5cdbd3;
  --ant-cyan5: #36cfc9;
  --ant-cyan5: #36cfc9;
  --ant-cyan6: #13c2c2;
  --ant-cyan6: #13c2c2;
  --ant-cyan7: #08979c;
  --ant-cyan7: #08979c;
  --ant-cyan8: #006d75;
  --ant-cyan8: #006d75;
  --ant-cyan9: #00474f;
  --ant-cyan9: #00474f;
  --ant-cyan10: #002329;
  --ant-cyan10: #002329;
  --ant-green1: #f6ffed;
  --ant-green1: #f6ffed;
  --ant-green2: #d9f7be;
  --ant-green2: #d9f7be;
  --ant-green3: #b7eb8f;
  --ant-green3: #b7eb8f;
  --ant-green4: #95de64;
  --ant-green4: #95de64;
  --ant-green5: #73d13d;
  --ant-green5: #73d13d;
  --ant-green6: #52c41a;
  --ant-green6: #52c41a;
  --ant-green7: #389e0d;
  --ant-green7: #389e0d;
  --ant-green8: #237804;
  --ant-green8: #237804;
  --ant-green9: #135200;
  --ant-green9: #135200;
  --ant-green10: #092b00;
  --ant-green10: #092b00;
  --ant-magenta1: #fff0f6;
  --ant-magenta1: #fff0f6;
  --ant-magenta2: #ffd6e7;
  --ant-magenta2: #ffd6e7;
  --ant-magenta3: #ffadd2;
  --ant-magenta3: #ffadd2;
  --ant-magenta4: #ff85c0;
  --ant-magenta4: #ff85c0;
  --ant-magenta5: #f759ab;
  --ant-magenta5: #f759ab;
  --ant-magenta6: #eb2f96;
  --ant-magenta6: #eb2f96;
  --ant-magenta7: #c41d7f;
  --ant-magenta7: #c41d7f;
  --ant-magenta8: #9e1068;
  --ant-magenta8: #9e1068;
  --ant-magenta9: #780650;
  --ant-magenta9: #780650;
  --ant-magenta10: #520339;
  --ant-magenta10: #520339;
  --ant-pink1: #fff0f6;
  --ant-pink1: #fff0f6;
  --ant-pink2: #ffd6e7;
  --ant-pink2: #ffd6e7;
  --ant-pink3: #ffadd2;
  --ant-pink3: #ffadd2;
  --ant-pink4: #ff85c0;
  --ant-pink4: #ff85c0;
  --ant-pink5: #f759ab;
  --ant-pink5: #f759ab;
  --ant-pink6: #eb2f96;
  --ant-pink6: #eb2f96;
  --ant-pink7: #c41d7f;
  --ant-pink7: #c41d7f;
  --ant-pink8: #9e1068;
  --ant-pink8: #9e1068;
  --ant-pink9: #780650;
  --ant-pink9: #780650;
  --ant-pink10: #520339;
  --ant-pink10: #520339;
  --ant-red1: #fff1f0;
  --ant-red1: #fff1f0;
  --ant-red2: #ffccc7;
  --ant-red2: #ffccc7;
  --ant-red3: #ffa39e;
  --ant-red3: #ffa39e;
  --ant-red4: #ff7875;
  --ant-red4: #ff7875;
  --ant-red5: #ff4d4f;
  --ant-red5: #ff4d4f;
  --ant-red6: #f5222d;
  --ant-red6: #f5222d;
  --ant-red7: #cf1322;
  --ant-red7: #cf1322;
  --ant-red8: #a8071a;
  --ant-red8: #a8071a;
  --ant-red9: #820014;
  --ant-red9: #820014;
  --ant-red10: #5c0011;
  --ant-red10: #5c0011;
  --ant-orange1: #fff7e6;
  --ant-orange1: #fff7e6;
  --ant-orange2: #ffe7ba;
  --ant-orange2: #ffe7ba;
  --ant-orange3: #ffd591;
  --ant-orange3: #ffd591;
  --ant-orange4: #ffc069;
  --ant-orange4: #ffc069;
  --ant-orange5: #ffa940;
  --ant-orange5: #ffa940;
  --ant-orange6: #fa8c16;
  --ant-orange6: #fa8c16;
  --ant-orange7: #d46b08;
  --ant-orange7: #d46b08;
  --ant-orange8: #ad4e00;
  --ant-orange8: #ad4e00;
  --ant-orange9: #873800;
  --ant-orange9: #873800;
  --ant-orange10: #612500;
  --ant-orange10: #612500;
  --ant-yellow1: #feffe6;
  --ant-yellow1: #feffe6;
  --ant-yellow2: #ffffb8;
  --ant-yellow2: #ffffb8;
  --ant-yellow3: #fffb8f;
  --ant-yellow3: #fffb8f;
  --ant-yellow4: #fff566;
  --ant-yellow4: #fff566;
  --ant-yellow5: #ffec3d;
  --ant-yellow5: #ffec3d;
  --ant-yellow6: #fadb14;
  --ant-yellow6: #fadb14;
  --ant-yellow7: #d4b106;
  --ant-yellow7: #d4b106;
  --ant-yellow8: #ad8b00;
  --ant-yellow8: #ad8b00;
  --ant-yellow9: #876800;
  --ant-yellow9: #876800;
  --ant-yellow10: #614700;
  --ant-yellow10: #614700;
  --ant-volcano1: #fff2e8;
  --ant-volcano1: #fff2e8;
  --ant-volcano2: #ffd8bf;
  --ant-volcano2: #ffd8bf;
  --ant-volcano3: #ffbb96;
  --ant-volcano3: #ffbb96;
  --ant-volcano4: #ff9c6e;
  --ant-volcano4: #ff9c6e;
  --ant-volcano5: #ff7a45;
  --ant-volcano5: #ff7a45;
  --ant-volcano6: #fa541c;
  --ant-volcano6: #fa541c;
  --ant-volcano7: #d4380d;
  --ant-volcano7: #d4380d;
  --ant-volcano8: #ad2102;
  --ant-volcano8: #ad2102;
  --ant-volcano9: #871400;
  --ant-volcano9: #871400;
  --ant-volcano10: #610b00;
  --ant-volcano10: #610b00;
  --ant-geekblue1: #f0f5ff;
  --ant-geekblue1: #f0f5ff;
  --ant-geekblue2: #d6e4ff;
  --ant-geekblue2: #d6e4ff;
  --ant-geekblue3: #adc6ff;
  --ant-geekblue3: #adc6ff;
  --ant-geekblue4: #85a5ff;
  --ant-geekblue4: #85a5ff;
  --ant-geekblue5: #597ef7;
  --ant-geekblue5: #597ef7;
  --ant-geekblue6: #2f54eb;
  --ant-geekblue6: #2f54eb;
  --ant-geekblue7: #1d39c4;
  --ant-geekblue7: #1d39c4;
  --ant-geekblue8: #10239e;
  --ant-geekblue8: #10239e;
  --ant-geekblue9: #061178;
  --ant-geekblue9: #061178;
  --ant-geekblue10: #030852;
  --ant-geekblue10: #030852;
  --ant-gold1: #fffbe6;
  --ant-gold1: #fffbe6;
  --ant-gold2: #fff1b8;
  --ant-gold2: #fff1b8;
  --ant-gold3: #ffe58f;
  --ant-gold3: #ffe58f;
  --ant-gold4: #ffd666;
  --ant-gold4: #ffd666;
  --ant-gold5: #ffc53d;
  --ant-gold5: #ffc53d;
  --ant-gold6: #faad14;
  --ant-gold6: #faad14;
  --ant-gold7: #d48806;
  --ant-gold7: #d48806;
  --ant-gold8: #ad6800;
  --ant-gold8: #ad6800;
  --ant-gold9: #874d00;
  --ant-gold9: #874d00;
  --ant-gold10: #613400;
  --ant-gold10: #613400;
  --ant-lime1: #fcffe6;
  --ant-lime1: #fcffe6;
  --ant-lime2: #f4ffb8;
  --ant-lime2: #f4ffb8;
  --ant-lime3: #eaff8f;
  --ant-lime3: #eaff8f;
  --ant-lime4: #d3f261;
  --ant-lime4: #d3f261;
  --ant-lime5: #bae637;
  --ant-lime5: #bae637;
  --ant-lime6: #a0d911;
  --ant-lime6: #a0d911;
  --ant-lime7: #7cb305;
  --ant-lime7: #7cb305;
  --ant-lime8: #5b8c00;
  --ant-lime8: #5b8c00;
  --ant-lime9: #3f6600;
  --ant-lime9: #3f6600;
  --ant-lime10: #254000;
  --ant-lime10: #254000;
  --ant-color-text: rgba(0, 0, 0, 0.88);
  --ant-color-text-secondary: rgba(0, 0, 0, 0.65);
  --ant-color-text-tertiary: rgba(0, 0, 0, 0.45);
  --ant-color-text-quaternary: rgba(0, 0, 0, 0.25);
  --ant-color-fill: rgba(0, 0, 0, 0.15);
  --ant-color-fill-secondary: rgba(0, 0, 0, 0.06);
  --ant-color-fill-tertiary: rgba(0, 0, 0, 0.04);
  --ant-color-fill-quaternary: rgba(0, 0, 0, 0.02);
  --ant-color-bg-layout: #f5f5f5;
  --ant-color-bg-container: #ffffff;
  --ant-color-bg-elevated: #ffffff;
  --ant-color-bg-spotlight: rgba(0, 0, 0, 0.85);
  --ant-color-border: #d9d9d9;
  --ant-color-border-secondary: #f0f0f0;
  --ant-color-primary-bg: #e6f4ff;
  --ant-color-primary-bg-hover: #bae0ff;
  --ant-color-primary-border: #91caff;
  --ant-color-primary-border-hover: #69b1ff;
  --ant-color-primary-hover: #4096ff;
  --ant-color-primary-active: #0958d9;
  --ant-color-primary-text-hover: #4096ff;
  --ant-color-primary-text: #1677ff;
  --ant-color-primary-text-active: #0958d9;
  --ant-color-success-bg: #f6ffed;
  --ant-color-success-bg-hover: #d9f7be;
  --ant-color-success-border: #b7eb8f;
  --ant-color-success-border-hover: #95de64;
  --ant-color-success-hover: #95de64;
  --ant-color-success-active: #389e0d;
  --ant-color-success-text-hover: #73d13d;
  --ant-color-success-text: #52c41a;
  --ant-color-success-text-active: #389e0d;
  --ant-color-error-bg: #fff2f0;
  --ant-color-error-bg-hover: #fff1f0;
  --ant-color-error-border: #ffccc7;
  --ant-color-error-border-hover: #ffa39e;
  --ant-color-error-hover: #ff7875;
  --ant-color-error-active: #d9363e;
  --ant-color-error-text-hover: #ff7875;
  --ant-color-error-text: #ff4d4f;
  --ant-color-error-text-active: #d9363e;
  --ant-color-warning-bg: #fffbe6;
  --ant-color-warning-bg-hover: #fff1b8;
  --ant-color-warning-border: #ffe58f;
  --ant-color-warning-border-hover: #ffd666;
  --ant-color-warning-hover: #ffd666;
  --ant-color-warning-active: #d48806;
  --ant-color-warning-text-hover: #ffc53d;
  --ant-color-warning-text: #faad14;
  --ant-color-warning-text-active: #d48806;
  --ant-color-info-bg: #e6f4ff;
  --ant-color-info-bg-hover: #bae0ff;
  --ant-color-info-border: #91caff;
  --ant-color-info-border-hover: #69b1ff;
  --ant-color-info-hover: #69b1ff;
  --ant-color-info-active: #0958d9;
  --ant-color-info-text-hover: #4096ff;
  --ant-color-info-text: #1677ff;
  --ant-color-info-text-active: #0958d9;
  --ant-color-bg-mask: rgba(0, 0, 0, 0.45);
  --ant-color-white: #fff;
  --ant-font-size-sm: 12;
  --ant-font-size-lg: 16;
  --ant-font-size-xl: 20;
  --ant-font-size-heading1: 38;
  --ant-font-size-heading2: 30;
  --ant-font-size-heading3: 24;
  --ant-font-size-heading4: 20;
  --ant-font-size-heading5: 16;
  --ant-line-height: 1.5714285714285714;
  --ant-line-height-lg: 1.5;
  --ant-line-height-sm: 1.6666666666666667;
  --ant-line-height-heading1: 1.2105263157894737;
  --ant-line-height-heading2: 1.2666666666666666;
  --ant-line-height-heading3: 1.3333333333333333;
  --ant-line-height-heading4: 1.4;
  --ant-line-height-heading5: 1.5;
  --ant-size-xxl: 48;
  --ant-size-xl: 32;
  --ant-size-lg: 24;
  --ant-size-md: 20;
  --ant-size-ms: 16;
  --ant-size: 16;
  --ant-size-sm: 12;
  --ant-size-xs: 8;
  --ant-size-xxs: 4;
  --ant-control-height-sm: 24;
  --ant-control-height-xs: 16;
  --ant-control-height-lg: 40;
  --ant-motion-duration-fast: 0.1s;
  --ant-motion-duration-mid: 0.2s;
  --ant-motion-duration-slow: 0.3s;
  --ant-line-width-bold: 2;
  --ant-border-radius-xs: 2;
  --ant-border-radius-sm: 4;
  --ant-border-radius-lg: 8;
  --ant-border-radius-outer: 4
}
  