@use 'sass:map';
@use './common.scss' as *;
// https://ant.design/docs/spec/colors-cn
$colors: (
  red: (#fff2e8, #ffd8bf, #ffbb96, #ff9c6e, #ff7a45, #fa541c, #d4380d, #ad2102,
    #871400, #610b00),
  volcano: (#fff2e8, #ffd8bf, #ffbb96, #ff9c6e, #ff7a45, #fa541c, #d4380d, #ad2102,
    #871400, #610b00),
  orange: (#fff7e6, #ffe7ba, #ffd591, #ffc069, #ffa940, #fa8c16, #d46b08, #ad4e00,
    #873800, #612500)
);

:root {

  @each $name in map-keys($colors) {
    $color: map-get($colors, $name);

    @each $color-level in $color {
      $index: index($color, $color-level);
      --#{$namespace}-color-#{"" + $name}-#{$index}: #{$color-level};
    }
  }
}