@use 'sass:map';

@use '../mixins/function' as *;

/* === antd font === */
// https://ant.design/docs/spec/font-cn
// custom: size-small、icon-size-small
$antd-font: () !default;
$antd-font: map.merge(
  (
    'font-size-primary': 14px,
    'font-size-small': 12px,
    'icon-size-primary': 16px,
    'icon-size-small': 14px,
    'font-weight-regular': 400,
    'font-weight-medium': 500,
    'font-weight-semiboild': 600
  ),
  $antd-font
);

$button: () !default;
$button: map.merge(
  (
    'font-size': #{getAntCssVar('font', 'size-primary')},
    'font-size-small': #{getAntCssVar('font', 'size-small')},
    'font-weight': #{getAntCssVar('font', 'weight-regular')},
    'icon-size-primary': #{getAntCssVar('font', 'icon-size-primary')},
    'icon-size-small': #{getAntCssVar('font', 'icon-size-small')},
    'color': #{getAntCssVar('color', 'text-base')},
    'color-primary': #{getAntCssVar('color', 'white')},
    'border-radius': #{getAntCssVar('border-radius')},
    'border-color': #{getAntCssVar('color-border')},
    'primary-bg-color': #{getAntCssVar('color-primary')},
    'primary-bg-color-hover': #{getAntCssVar('color-primary-hover')},
    'text-bg-color': transparent,
    'text-bg-color-hover': rgba(0,0,0,.06),
    'link-color': #{getAntCssVar('color','primary')},
    'link-color-hover': #{getAntCssVar('color', 'primary-border-hover')},
    'height-small': 24px,
    'height-middle': 32px,
    'height-large': 40px,
    'height-small-half': 12px,
    'height-middle-half': 16px,
    'height-large-half': 20px,
  ),
  $button
);
